
.cardbox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    padding-block: 20px;
}

.card {
    --radius: 8px;
    position: relative;
    display: inline-flex;
    min-height: 96px;

    flex-direction: column;
    justify-content: space-between;

    /* border-radius: var(--radius);
    border: 1px solid var(--primary-color); */

    text-decoration: none;
    transition: transform 300ms;
}

.card .no-preview, .card .preview {
    border-radius: var(--radius);
    border: 1px solid var(--primary-color);
    background: #fdfaf6;
}

.card:hover, .card:focus-visible {
    transform: scale(1.05);
    z-index: 10;

    & .author {
        opacity: 1;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    flex-grow: 1;
}

.title {
    margin: 0 0 4px 0;
    line-height: 1em;
    text-wrap: balance;
}

.tags {
    line-height: 1;
}

.author {
    position: absolute;
    right: 0;
    top: 0;
    padding-inline: 10px;
    height: 40px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border-left: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    opacity: 0;
    transition: opacity 300ms;

    font-weight: 700;
    color: var(--gray);
    padding-bottom: 3px;
}

.preview {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
    height: auto;
    border-top-left-radius: calc(var(--radius) - 1px);
    border-top-right-radius: calc(var(--radius) - 1px);
}

.no-preview {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
        width: 60px;
        height: 60px;
        color: var(--gray);
    }
}

.search-result-count {
    text-align: right;
}

.github {
    display: inline;
    margin-left: 0.25em;
    height: 1em;
}

.favorite {
    position: absolute;
    left: 0;
    top: 0;
    padding-inline: 10px;
    height: 40px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom-right-radius: var(--radius);
    border-right: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    border-left: 1px solid white;
    border-top: 1px solid white;

    font-weight: 700;
    color: var(--gray);
    transform: translate(-1.3px, -1.3px);

    & svg {
        width: 24px;
    }
}

@media (width < 560px) {
    .cardbox {
        grid-template-columns: minmax(0, 1fr);
    }
    .author {
        opacity: 1;
    }
}
