
.recipe {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 1.125rem;
}

.recipe img {
    max-width: 50%;
    max-height: 300px;
    border-radius: 16px;
    border: 1px solid var(--primary-color);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    padding: 1px 4px;
    border: 1px solid red;
    border-radius: 4px;
}

.flag {
    height: calc(1.5em + 4px);
}

.flag svg {
    height: 100%;
    width: auto;
}

.head {
    margin: 1rem 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.title {
    padding-right: 0.2em;
}

.icon {
    width: 3rem;
    margin: 8px;
}

.homebutton {
    position: fixed;
    z-index: 10;
}

.author {
    margin-bottom: 8px;
    font-weight: 700;
    color: var(--gray);
}

.yields {
    display: inline-flex;
    flex-direction: column;
    padding-inline: 8px;
    gap: 8px;
}

.yields-btn {
    background: var(--primary-button-background);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: none;
    padding: 0;
    display: inline flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:focus-visible {
        background: var(--gray);
    }

    &:active {
        /* background: var(--primary-color); */
        color: var(--gray);
    }
}

@media (hover: hover) {
    .yields-btn:hover {
        background: var(--gray);
    }
}

.yields-label {
    padding: 4px 8px;
}

.yields-input {
    width: 60px;
    -moz-appearance: textfield;
    appearance: textfield;
    border: 1px solid var(--primary-color);
    border-radius: 6px;

    background-color: var(--soft-background);

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

.yields-and-ingredients {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: max(30%, 320px);
}

.ingredients {
    padding: 16px;
    border: 1px solid;
    border-radius: 8px;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.ingredients li:not(:first-child) {
    margin-top: 0.25em;
}

.ingredients ul {
    padding-left: 1.5em;
}
.ingredients li {
    position: relative;
}
.ingredients input {
    display: none;
}

.ingredients h2 {
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

@media screen {
    .ingredients-shop li {
        position: relative;
    }
    .ingredients-shop li::marker {
        color: transparent;
    }
    .ingredients-shop input {
        display: block;
        position: absolute;
        right: calc(100% + 0.35em);
        top: 0;
        height: 1.5em; /* = line-height */
    }
}

.instructions-container {
    display: flex;
    gap: 32px;
    margin-top: 32px;
}

.github {
    display: inline;
    margin-left: 1.5em;
}

.favorite {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;

    & svg {
        margin-bottom: -0.5em;
    }
}

.shop-button {
    padding: 9px 8px;
    background-color: var(--soft-background);
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    transition: .3s transform;
    margin-top: 10px;
    margin-inline: auto;
}

.shop-button:hover {
    transform: scale(1.15);
}

.shop-button svg {
    width: 22px;
    height: 20px;
}

.copied {
    padding: 10px;
    border-radius: 16px;
    background: var(--primary-color);
    color: var(--soft-background);
    font-weight: 500;
}

.share {
    border: none;
    background: none;
    padding: 8px;
    cursor: pointer;
    margin-left: -0.3em;
}

.share svg {
    width: 24px;
    height: 24px;
}

@media (width <= 768px) {
    .instructions-container {
        flex-direction: column;
        gap: 16px;
    }
}

@media (width < 560px) {
    .recipe img {
        max-width: 100%;
    }

    .head {
        margin-top: 0;
    }
}
