.button {
  text-decoration: none;
  flex-shrink: 0;
  padding: 9px 8px;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 300ms;
  background-color: var(--primary-background);

  & svg {
    width: 22px;
    height: 20px;
  }
}