@import url("./resets.css");

:root {
  --primary-background: rgb(255, 247, 237);
  --soft-background: rgb(253, 250, 246);

  --primary-color: rgb(39, 12, 5);

  --tag-background: rgb(254, 202, 202);
  --tag-text: rgb(127, 29, 29);
  --tag-hover-background: rgb(245, 50, 0);
  --tag-hover-text: rgb(255, 255, 255);

  --gray: #5c7b80;

  --elevation-small: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --elevation-high: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px, rgba(0, 0, 0, 0.24) 0px 3px 8px;

  --header-height: calc(48px + 2 * 10px);
  --footer-height: 20px;

  --font-h1: 2rem;
}

body {
  font-family: gelica, sans-serif;
  background: var(--primary-background);
  color: var(--primary-color);
  
}

main {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 32px;
}

@media (width < 560px) {
  main {
    padding-inline: 16px;
  }
}

em {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

table {
    table-layout: fixed;
    border: 1px solid var(--primary-color);
    border-radius: 16px;
    padding: 8px 10px;
}

td, th {
    padding-inline: 5px;
}

td:first-child, th:first-child {
    padding-inline-start: 0;
}

td:last-child, th:last-child {
    padding-inline-end: 0;
}

th {
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 8px;
}
